.chatBubble {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(255, 227, 192);
  padding: 0.5rem;
}
.chatContainer {
  display: flex;
}
.chatContainerMe .chatBubble {
  background-color: rgb(104, 158, 140);
}

.chatContainerMe {
  display: flex;
  flex-direction: row-reverse;
}

.bottomOperation {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 0rem;
}
.bottomOperation input {
  padding: 0.8rem;
  width: 100%;
}
.bottomOperation button {
  padding: 00.8rem;
  width: 7rem;
}
